/* CSS Document */

@font-face {
  font-family: 'receipt';
  src: url('../fonts/receipt.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@page 

{

	size: auto;   /* auto is the current printer page size */

	margin: 0px;  /* this affects the margin in the printer settings */

	padding:0px;

}

body

{

	margin:0px; height:0px;

	font-family: "Consolas", monospace;

	 font-size:12px; font-weight: normal;

   -moz-user-select: none;

   -khtml-user-select: none;

   -webkit-user-select: none;

}

h1,h2,h3,h4,h5,h56,p{ margin:0px; padding:0px; }

h1{ font-size:14px; }
h3{ font-size:14px; }

div

{

	-webkit-box-sizing: border-box;

     -moz-box-sizing: border-box;

          box-sizing: border-box;

}

#maindiv
{

	width:510px; height:740px; float:left;
	margin-left:25px; margin-top:25px;
	border:1px solid #000;

}
#logo
{
	width: